<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @* Barra de Navegação *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Controle Compras</a>
    </nav>
    @* Barra de Navegação *@

    @* Conteúdo *@
    <div class="container" style="margin-top:30px;margin-bottom:30px">
        @RenderBody()
    </div>
    @* Conteúdo *@

    @* Rodapé *@
    <hr /> <!-- Linha -->
    <footer>
        <p style="text-align:center">&copy; @DateTime.Now.Year - Desenvolvido por Patrick S. Luz e Maurício Kreling</p>
    </footer>
    @* Rodapé *@

</body>
</html>