@inject Microsoft.AspNetCore.Identity.UserManager<AgenteLogado> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<AgenteLogado> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    @* Barra de Navegação *@
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Controle Compras</a>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @if (SignInManager.IsSignedIn(User)) // Se usuario estiver autenticado
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Create" asp-controller="Pedido">Novo Pedido</a>
                    </li>

                    // LOGADO Como ADMIN
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrador"))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Agente">Gerenciar Agentes</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Cargo">Gerenciar Cargos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Setor">Gerenciar Setores</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Produto">Gerenciar Produtos</a>
                        </li>
                    }

                    // LOGADO Como GESTOR
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Gestor"))
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Agente">Gerenciar Agentes</a>
                        </li>
                    }

                    // LOGADO Como USURAIO
                    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Usuario"))
                    {
                        
                    }
                        <a class="nav-link" href="#">
                            Olá, @UserManager.GetUserName(User)
                        </a>
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Logout" asp-controller="Login">Logout</a>
                    </li>
                }
                else // usuario sem Logar
                {
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="Login" asp-controller="Login">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    @* Barra de Navegação *@

    @* Conteúdo *@
    <div class="container" style="margin-top:30px;margin-bottom:30px">
        @RenderBody()
    </div>
    @* Conteúdo *@

    @* Rodapé *@
    <hr /> <!-- Linha -->
    <footer>
        <p style="text-align:center">&copy; @DateTime.Now.Year - Desenvolvido por Patrick S. Luz e Maurício Kreling</p>
    </footer>
    @* Rodapé *@

</body>
</html>